In [5]:
data = {'20210716_1054': {'1': 1.067, '3': -0.939, '5': -0.267}, '20210716_1055': {'1': -1.16, '3': 0.278, '5': 0.981}, '20210716_1056': {'3': -2.134, '1': 0.815, '5': -0.674}}

In [24]:
data = {'20210716_12263': {'3': 0.451, '1': -0.127, '5': 0.335}, '20210716_12264': {'5': -0.779, '1': -0.48, '3': 0.492}, '20210716_12265': {'3': 0.859, '5': -0.896, '1': -1.657}, '20210716_12270': {'1': -0.709, '5': 0.704, '3': 0.413}, '20210716_12271': {'5': 1.948, '3': 0.69, '1': -0.883}, '20210716_12272': {'1': -1.747, '5': -1.051, '3': -0.391}, '20210716_12273': {'3': -0.787, '5': -0.95, '1': 1.745}}

In [21]:
import pandas as pd

In [33]:
pd.DataFrame(data)

,20210716_12263,20210716_12264,20210716_12265,20210716_12270,20210716_12271,20210716_12272,20210716_12273
3,0.451,0.492,0.859,0.413,0.690,-0.391,-0.787
1,-0.127,-0.480,-1.657,-0.709,-0.883,-1.747,1.745
5,0.335,-0.779,-0.896,0.704,1.948,-1.051,-0.950

In [31]:
pd.DataFrame(data).values

array([[ 0.451,  0.492,  0.859,  0.413,  0.69 , -0.391, -0.787],
       [-0.127, -0.48 , -1.657, -0.709, -0.883, -1.747,  1.745],
       [ 0.335, -0.779, -0.896,  0.704,  1.948, -1.051, -0.95 ]])

In [67]:
int(list(data[list(data.keys())[0]].keys())[0])

3

In [25]:
pd.DataFrame(data)

,20210716_12263,20210716_12264,20210716_12265,20210716_12270,20210716_12271,20210716_12272,20210716_12273
3,0.451,0.492,0.859,0.413,0.690,-0.391,-0.787
1,-0.127,-0.480,-1.657,-0.709,-0.883,-1.747,1.745
5,0.335,-0.779,-0.896,0.704,1.948,-1.051,-0.950

In [43]:
pd.DataFrame(data)

,20210716_12263,20210716_12264,20210716_12265,20210716_12270,20210716_12271,20210716_12272,20210716_12273
3,0.451,0.492,0.859,0.413,0.690,-0.391,-0.787
1,-0.127,-0.480,-1.657,-0.709,-0.883,-1.747,1.745
5,0.335,-0.779,-0.896,0.704,1.948,-1.051,-0.950

In [47]:
len(data)

7

In [36]:
[1,2,3]

[1, 2, 3]

In [37]:
i=1

In [38]:
[i+1, i+2, i+3]

[2, 3, 4]

In [8]:
for i in data.keys() : 
#     print(i)
    if len(data[i]) == 3 :
        lst_data = list(data[i].values())
        print(i, data[i],lst_data, np.mean(lst_data))

20210716_1054 {'1': 1.067, '3': -0.939, '5': -0.267} [1.067, -0.939, -0.267] -0.04633333333333334
20210716_1055 {'1': -1.16, '3': 0.278, '5': 0.981} [-1.16, 0.278, 0.981] 0.03300000000000003
20210716_1056 {'3': -2.134, '1': 0.815, '5': -0.674} [-2.134, 0.815, -0.674] -0.6643333333333333

In [4]:
import numpy as np

In [3]:
import pandas

In [15]:
!pip install pandas

Requirement already satisfied: pandas in /home/bk/snap/jupyter/common/lib/python3.7/site-packages (1.1.3)
Requirement already satisfied: pytz>=2017.2 in /home/bk/snap/jupyter/common/lib/python3.7/site-packages (from pandas) (2021.1)
Requirement already satisfied: python-dateutil>=2.7.3 in /snap/jupyter/6/lib/python3.7/site-packages (from pandas) (2.8.0)
Requirement already satisfied: numpy>=1.15.4 in /home/bk/snap/jupyter/common/lib/python3.7/site-packages (from pandas) (1.21.0)
Requirement already satisfied: six>=1.5 in /snap/jupyter/6/lib/python3.7/site-packages (from python-dateutil>=2.7.3->pandas) (1.12.0)

In [16]:
import pandas

ModuleNotFoundError: No module named 'pandas'

In [10]:
data

{'20210716_1054': {'1': 1.067, '3': -0.939, '5': -0.267},
 '20210716_1055': {'1': -1.16, '3': 0.278, '5': 0.981},
 '20210716_1056': {'3': -2.134, '1': 0.815, '5': -0.674}}

In [15]:
list(data.keys())[0]

'20210716_1054'

In [18]:

data.pop(list(data.keys())[0])

{'1': 1.067, '3': -0.939, '5': -0.267}

In [19]:
data

{'20210716_1055': {'1': -1.16, '3': 0.278, '5': 0.981},
 '20210716_1056': {'3': -2.134, '1': 0.815, '5': -0.674}}